.App {
  text-align: center;

}


  Header {
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  width: 100%;
  height:100vh;
  background-size: cover;
}

.gajes-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

